/* Estilos generales para la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Estilo para el encabezado principal */
h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para el formulario */
form {
  margin-bottom: 20px;
}

/* Estilo para las etiquetas del formulario */
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

/* Estilo para el campo de entrada de texto */
input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Estilo para el botón de envío */
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para el botón de envío cuando se pasa el ratón por encima */
button:hover {
  background-color: #0056b3;
}

/* Estilo para el encabezado secundario */
h2 {
  margin-bottom: 10px;
  color: #333;
}

/* Estilo para la lista de usuarios */
ul {
  list-style-type: none;
  padding: 0;
}

/* Estilo para los elementos de la lista de usuarios */
ul li {
  padding: 8px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
}
